#!/usr/bin/env bash

alias c="clear"
alias e="exit"
alias v="vim"
alias p="python3"
alias n="node"
alias t="tmux"
alias s="source"
alias f="fzf"
alias dk="docker"
alias dc="docker-compose"
alias mk="minikube"
alias k="kubectl"
alias pi="python3 -m pip install"
alias rm="trash"
alias cat="bat"
alias man="tldr"
alias tf="terraform"

alias ll="ls -ll"
alias la="ls -la"

alias k="kubectl"

alias ks="kustomize"

alias ka="kubectl apply"
alias kd="kubectl delete"
alias kaf="kubectl apply -f"
alias kdf="kubectl delete -f"

alias kg="kubectl get"
alias kgn="kubectl get node"
alias kgi="kubectl get ingress"
alias kgs="kubectl get service"
alias kgd="kubectl get deployment"
alias kgp="kubectl get pod"

alias kd="kubectl describe"
alias kdn="kubectl describe node"
alias kdi="kubectl describe ingress"
alias kds="kubectl describe service"
alias kdd="kubectl describe deployment"
alias kdp="kubectl describe pod"

alias ke="kubectl exec -i -t"
