#!/usr/bin/env bash

alias c="clear"
alias e="exit"
alias v="vim"
alias p="python3"
alias n="node"
alias t="tmux"
alias s="source"
alias f="fzf"
alias dk="docker"
alias dc="docker-compose"
alias mk="minikube"
alias k="kubectl"
alias kaf="kubectl apply -f"
alias kdf="kubectl delete -f"
alias kd="kubectl describe"
alias kg="kubectl get"
alias kgp="kubectl get pods"
alias kgd="kubectl get deployments"
alias kgn="kubectl get nodes"
alias ks="kustomize"
alias po="poetry"
alias pi="python3 -m pip install"
alias rm="trash"
alias cat="bat"
alias man="tldr"
alias tf="terraform"

alias ll="ls -ll"
alias la="ls -la"
