#!/usr/bin/env bash

alias c="clear"
alias e="exit"
alias v="vim"
alias p="python"
alias n="node"
alias t="tmux"
alias s="source"
alias f="fzf"
alias dk="docker"
alias dc="docker-compose"
alias mk="minikube"
alias kc="kubectl"
alias ks="kustomize"
alias pi="python3 -m pip install"
alias rm="trash"
alias cat="bat"
alias man="tldr"

alias ll="ls -ll"
alias la="ls -la"
